<!DOCTYPE html>
<html>

<head>
	<title>Add Medicine </title>
</head>

<body>
	<div>
		<h1>Add Medicine</h1>
	</div>

	<a href="/home"> Back</a> 
	

	<form method="post">
		<table>

			<tr>
				<td>Name</td>
				<td><input type="text" name="name" value=""><br>
				</td>
					

				

			</tr>
			
			<tr>
				<td>Catagory</td>
				<td><input type="text" name="catagory" value=""><br>
					</td>
			
			
			</tr>
			<tr>
				<td>Quantity</td>
				<td><input type="text" name="quantity" value=""><br>
					</td>
			
			
			</tr>
			<tr>
				<td>Type(solid/liquid) :</td>
				<td><input type="text" name="type" value=""><br>
					</td>
			
			</tr>
			<tr>
				<td>Vendor Name:</td>
				<td><input type="text" name="vendorname" value=""><br>
					</td>
			</tr>
				<tr>
			
				<td></td>
				<td><input type="submit" name="submit" value="Add"></td>
			</tr>
		</table>
		
	</form>

</body>

</html>