<!DOCTYPE html>
<html>
<head>
	<title>Admin</title>
	<link rel="stylesheet" type="text/css" href="xyz/style.css">
</head>
<body>
	<div>
		<h1>Admin Panel</h1><br>
		<h1>Welcome Home! <%= user.username%></h1> 		
	</div>

	<a href="/home/alluser"> View Customer</a> <br>|
	<a href="/home/adduser">Add Customer</a> <br>|
	<a href="/logout"> logout</a><br>
	


	
</body>
</html>